/*reset browser default*/
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.clearfix:before,
.cf:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

ol, ul {
    list-style: none;
}

li {
    display: inline;
    list-style-type: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Opensans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Opensans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}

body{
    font-family:  Opensans-Regular;
    color: #585858;
    background-color: #ffffff;
}
.frame {
    position: relative;
    width: 1320px;
    height: 100%;
    margin: 0 auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: 999;
    background: -moz-linear-gradient(bottom left, #0cc2f5,#308ad9); 
    background: linear-gradient(to bottom left,#0cc2f5,#308ad9); 
}
.nav-bar{
    float:left;
}
.nav-bar li {
    float: left;
    cursor: pointer;
}
.nav-bar li a {
    display: block;
    height: 40px;
    padding: 10px 25px;
    margin-top: 20px;
    margin-right: 60px;
    font: 20px arial;
    color: #fff
}
.nav-bar li a:hover,
.nav-bar li a.active {
   background-color: #fff;
   color: #279ee3;
}

/*Buttons with white letters*/

.button-white{
    height: 40px;
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
    border: solid 2px #fff;
    font-size: 17px;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

}
.button-white:hover,
.button-white:focus,
.button-white.active {
   background-color: #fff;
   color: #397fd4;
}

/*Buttons on blue letters*/

.button-blue{
   height: 40px;
   width: 150px;
   margin-right: 10px;
   font-size: 17px;
   background-color: transparent;
   color: #585858;
   cursor:pointer;
}
.button-blue:hover,
.button-blue:focus,
.button-blue.active {
   background-color: #fff;
   color: #397fd4;
   border: solid 2px #397fd4;
   border-radius: 30px;
}

.login-btn {
    float: right;
    margin-top: 20px;
}

/*Main content*/

main {
    padding-top: 85px;
}

/*Sections*/

/*First-section*/

.first-section{
    position: relative;
    height: 875px;
    background: -moz-linear-gradient(bottom left, #13b9f0,#397cd4); 
    background: linear-gradient(to bottom left,#13b9f0,#397cd4);  
}
.first-section-box{
    position: absolute;
    top: 120px;
    width: 690px;
    color: #ffffff;
}
.first-section-box-title{
    width: 420px;
    margin-bottom: 45px;
    font-family: Opensans-Bold;
    font-size: 55px;
    
}
.first-section-box-paragraphe{
    margin-bottom: 30px;
    font-size: 20px;
}
.first-section-image{
    position: absolute;
    width: 832px;
    height: 880px;
    bottom: 0;
    right: 0;
    background: url(images/mobhero.png) no-repeat;
}

/*Platforms section*/

.platforms{
    height: 610px;
    position: relative;
    z-index: 1
}
.platforms::after{
    content: '';
    width: 100%;
    height: 150%;
    position: absolute;
    z-index: -1;
    bottom: -167px;
    transform-origin: left bottom;
    transform: skewY(3deg);
    background-color: #fff;
}
.platforms-images{
    height: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.platforms-image:hover,
.platforms-image.active {
   opacity: 1;
}
.platforms-image{
    float: left;;
    height: 42px;
    margin-right: 61px;
    opacity: 0.5;
    cursor: pointer;
}
.platforms-image:hover,
.platforms-image.active {
   opacity: 1;
}
.httc-pic{
    width: 70px;
    background: url(images/httc.png) no-repeat;
}
.bberry-pic{
    width: 130px;
    background: url(images/blackberry.png) no-repeat;
}
.apple-pic{
    width: 42px;
    background: url(images/apple.png) no-repeat;
}
.nokia-pic{
    width: 90px;
    background: url(images/nokia.png) no-repeat;
}
.sony-pic{
    width: 100px;
    background: url(images/sony.png) no-repeat;
}
.platforms-box{
    height: 100%;
    margin-bottom: 70px;
    overflow: auto;
    display: none;   
}
.platforms-box-devices{
    height: 400px;
    overflow: auto;
}
.platforms-box.active{
    display: initial;
}
.platforms-title{
    font-size: 40px;
    color: #3f85d4;
    margin-bottom: 10px;
}
.platforms-paragraphe{
   margin-bottom: 30px;
}
.platforms-change-box{
    display: none;
    
}
.platforms-change-box.active{
    display: initial;
}

/*Abbout app section*/

.about-app{
    position: relative;
    height: 650px;
    margin-top: 40px;
    background: -moz-linear-gradient(bottom left, #0fbff5,#397fd4); 
    background: linear-gradient(to bottom left,#0fbff5,#397fd4); 
    z-index: 2;
}
.abot-app-buttons{
    width: 650px;
    padding: 45px;
    margin: 0 auto;
}
.about-app-butt{
      margin-right: 30px;
      border: none;
}
.about-app-butt:hover,
.about-app-butt.active {
   background-color: transparent;
   color: #fff;
   border: solid 2px #fff;
   border-radius: 30px;
}
.about-app-box-title{
    margin-bottom: 30px;
    font-family: Opensans-Bold;
    font-size: 40px;
}
.about-app-box-paragraphe{
    width: 1030px;
    margin-bottom: 30px;    
}
.about-app-picture{
    position: absolute;
    width: 669px;
    height: 1106px;
    bottom:-600px;
    right: 0;
    background: url(images/mob.png) no-repeat;
    z-index: 1;
}
.about-app-box{
    width: 1030px; 
    height: 400px;
    color: #fff;
    display: none;
    
}
.about-app-box.active{
    display: initial;
}


/*About Us section*/

.about-us{
    position: relative;
    height: 886px;
    margin-bottom: 100px;
    background-color: #fff;
    z-index: 1;
}
.about-us::after{
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    bottom: -105px;
    transform-origin: left bottom;
    transform: skewY(3deg);
    background-color: #fff;
}
.subscribe{
    height: 288px;
    padding-top: 30px;
    background: -moz-linear-gradient(right, #f5f5f5, #ebebeb); 
    background: linear-gradient(to right, #f5f5f5 , #ebebeb);
    z-index: -2;
}
.subscribe-title{
    width: 700px;
    margin-bottom: 40px;
    font-family: Opensans-Bold;
    font-size: 40px;
    color: #3f85d4;
}
.subscribe-button{
    width: 240px;
    height: 35px;
    margin-bottom: 130px;
    border: solid 2px #397fd4;
    border-radius: 30px;
    background-color: transparent;
    color: #397fd4;
    cursor: pointer;
}
.abot-us-buttons{
    width: 650px;
    margin: 0 auto; 
}
.about-us-butt{
    margin-top: 80px;
    margin-right: 30px;
}
.about-us-box-title{
    margin-top: 105px;
    width: 700px;
    margin-bottom: 30px;
    font-size: 35px;
    color: #3f85d4;
}
.about-us-box-paragraphs{
    height: 300px;
    overflow: auto;
}
.about-us-box-paragraphe{
    margin-bottom: 30px;
}
.about-us-text-box{
    display: none;
}
.about-us-text-box.active{
    display: initial;
}

/* Contact section*/

.contact{  
    position: relative;  
}
#contact-map{
    width: 50%;
    height: 920px;
    float: left;    
}
.contact-box{
    float: right; 
    width: 50%;
    padding-left: 85px;
    padding-top: 130px; 
    background: -moz-linear-gradient(top left, #0fbff5,#397fd4); 
    background: linear-gradient(to top left,#0fbff5,#397fd4); 
    color: #fff;
}
.contact-box-title{
    margin-bottom: 30px;
    font-family: Opensans-Bold;
    font-size: 40px;
}
.contact-box-title-paragraphe{
    margin-bottom: 15px;
}
.email-button{
    width: 200px;
    margin-bottom: 15px;
}
.contact-adress{
    margin-bottom: 20px;
}
.contact-item-row{
   margin-top: 10px;
}
.contact-item-input{
    width: 580px;
    height: 45px;
    padding-left: 20px; 
    background-color: #158abd;
    color: #fff;
}
.contact-item-textarea{
    height: 260px;
}
.send-button{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 55px;
}
::-webkit-input-placeholder { 
    color:    #fff;
    
}
:-moz-placeholder { 
   color:    #fff;
   opacity:  1;
  
}
